@model IEnumerable<Domain.JobOpportunity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            <a type="button" class="btn btn-success btn-xs" style="display:inline-block" href="@Url.Action("Index", "Candidate", new { id = item.Id })">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </a>
        </td>
        <td>
            <a type="button" class="btn btn-primary btn-xs" style="display:inline-block" href="@Url.Action("Delete", "JobOpportunity", new { id = item.Id })">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
        </td>
    </tr>
}
</table>
